<%- include('partials/header') %>

  <div class="container mt-5 pt-5">
    <h3 class="text-center my-4">Votre liste de préférences</h3>
    <% if (bookmarks.length> 0) { %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Article</th>
            <th>Prix HT</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% bookmarks.forEach(figurine=> { %>
            <tr>
              <td class="d-flex align-items-center">
                <img class="img-thumbnail me-3" src="/images/<%= figurine.name %>.png" alt="<%= figurine.name %>"
                  style="width: 80px;">
                <div>
                  <h5 class="mb-0">
                    <%= figurine.name %>
                  </h5>
                </div>
              </td>
              <td>$<%= figurine.price.toFixed(2) %>
              </td>
              <td>
                <a href="/bookmarks/delete/<%= figurine.id %>" class="btn btn-danger btn-sm">Enlever</a>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
      <% } else { %>
        <p class="text-center">Votre liste de favoris est vide.</p>
        <% } %>
          <div class="text-end">
            <a class="btn btn-primary" href="/">Retour à l'accueil</a>
          </div>
  </div>

  <%- include('partials/footer') %>