<%- include('header') %>

    <div class="card-detail-wrapper">
        <h1>
            <%= title %>
        </h1>

        <div class="card-detail">
            <img src="/visuals/<%= card.visual_name %>" alt="<%= card.name %> illustration" class="card-image">

            <div class="card-info">

                <p class="card-attribute"><strong>Élément :</strong>
                    <%= card.element ? card.element : 'Aucun' %>
                </p>
                <p class="card-attribute"><strong>Niveau :</strong>
                    <%= card.level %>
                </p>

                <p class="card-attribute"><strong>Valeurs :</strong></p>
                <ul class="card-values">
                    <li>Nord : <%= card.value_north %>
                    </li>
                    <li>Est : <%= card.value_east %>
                    </li>
                    <li>Sud : <%= card.value_south %>
                    </li>
                    <li>Ouest : <%= card.value_west %>
                    </li>
                </ul>

                <!-- Bouton pour ajouter la carte au deck -->
                <a href="/deck/add/<%= card.id %>" class="button add-to-deck">Ajouter au Deck</a>
            </div>
        </div>

        <a href="/" class="back-link">Retour à la liste des cartes</a>
    </div>

    <%- include('footer') %>