<!-- views/cardList.ejs -->

<%- include('header') %>

  <h1>
    <%= title %>
  </h1>

  <div class="cardsContainer">
    <% cards.forEach( (card)=> { %>
      <div class="card">
        <!-- Lien vers la page de détail de la carte -->
        <a href="/card/<%= card.id %>">
          <img src="/visuals/<%= card.visual_name %>" alt="<%= card.name %> illustration">
          <p class="cardName">
            <%= card.name %>
          </p>
        </a>
        <!-- Lien pour ajouter la carte au deck -->
        <button class="button add-to-deck" onclick="location.href='/deck/add/<%= card.id %>'">Ajouter au Deck</button>
      </div>
      <% }) %>
  </div>

  <%- include('footer') %>