<!-- views/deck.ejs -->

<%- include('header') %>

    <h1>
        <%= title %>
    </h1>

    <% if (deck.length===0) { %>
        <p>Votre deck est vide.</p>
        <% } else { %>
            <div class="deckContainer">
                <% deck.forEach( (card)=> { %>
                    <div class="card">
                        <a href="/card/<%= card.id %>">
                            <img src="/visuals/<%= card.visual_name %>" alt="<%= card.name %> illustration">
                            <p class="cardName">
                                <%= card.name %>
                            </p>
                        </a>
                        <!-- Lien pour supprimer la carte du deck -->
                        <button class="button remove-from-deck"
                            onclick="location.href='/deck/remove/<%= card.id %>'">Supprimer du Deck</button>
                    </div>
                    <% }) %>
            </div>
            <% } %>

                <a href="/" class="back-link">Retour à la liste des cartes</a>

                <%- include('footer') %>